{:paths ["src"]
 :deps
 {http-kit/http-kit {:mvn/version "2.7.0"}
  nrepl/nrepl {:mvn/version "1.0.0"}
  io.github.escherize/huff {:mvn/version "0.1.0"}
  io.github.nextjournal/garden-email {:local/root ".."}
  ring/ring-core {:mvn/version "2.0.0-alpha1"}}

 :aliases
 {:nextjournal/garden {:exec-fn email-example/start!}}}
